<table class="table table-hover">
  <tr>
    <td width="70px">
      <img src="{{ url_for('static', filename='default-avatar.jpg')}}" width="100" height="100"/>
    </td>
    <td>
      <h4><b>{{ post.author.displayname }} says:</b></h4>
      {{ post.body }}
    </td>
  </tr>
</table>
