{% extends "base.html" %}
{% import 'bootstrap/wtf.html' as wtf %}

{% block app_content %}
  <div class="center-block text-center" style="width: 50%">
    <h1>Hi, {{ current_user.displayname }}!</h1>
    {{ wtf.quick_form(form) }}
  </div>
  <br/>
  {% for post in posts %}
    {% include '_post.html' %}
  {% endfor %}
{% endblock %}
